*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

img, video {
  max-width: 100%;
  display: block;
}

input, button, select, textarea {
  font: inherit;
  border: none;
  outline: none;
  background: none;
  appearance: none;
  -webkit-appearance: none;
}

button {
  cursor: pointer;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
}
